{# templates/registration/confirmation_email.html.twig #}
<h1>Witaj w Kanban App!</h1>

<p>Dziękujemy za rejestrację w naszej aplikacji Kanban.</p>

<p>Teraz możesz zalogować się i zacząć tworzyć swoje tablice:</p>

<p><a href="{{ url('app_login') }}">Przejdź do logowania</a></p>

<p>Pozdrawiamy,</p>
<p>Kanban App</p>